@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

$color-primary: #00dd1f;
$color-primary-h: #00b91a;
$color-secondary: #686a6c;
$color-dark: #232526;
$color-dark-2: #121a21;
$color-dark-3: #333333;
$color-slate: #222f3e;
$color-light: #f2f3f8;
$color-sale-orange: #ff7e00;
$color-offer-purple: #7800ff;
$color-red: #ff0000;
$color-slight-gray: #eaebf0;
$font-primary: "Poppins", sans-serif;
$transition: 0.3s all;
@mixin unlocked {
  fill: #fff;
  background-color: $color-primary;
  font-size: 40px;
  border-radius: 6px;
  padding: 6px;
}
@mixin locked {
  fill: #fff;
  background-color: $color-dark;
  font-size: 40px;
  border-radius: 6px;
  padding: 6px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
::placeholder {
  color: #000 !important;
}

::selection {
  background-color: $color-primary-h;
  color: #fff;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #ddd;
}

::-webkit-scrollbar-thumb {
  background-color: $color-primary;
}

::-webkit-scrollbar-thumb:hover {
  background-color: $color-secondary;
}
html body {
  font-family: $font-primary;
  overflow-x: hidden;
  background-color: $color-light;
  color: $color-secondary;
  div#root {
    overflow-x: hidden;
    color: $color-secondary;
  }
}

main {
  overflow-x: hidden;
}

a {
  text-decoration: none !important;
  font-family: $font-primary;
  color: $color-secondary;
  &.links {
    color: $color-primary;
    font-size: 14px;
    &:hover {
      color: $color-primary-h;
    }
  }
}

h1 {
  font-size: 30px;
  font-weight: 500;
  color: $color-secondary;
}

h1.title {
  font-size: 25px;
}

ol,
ul > {
  padding: 0;
  margin: 0;
  li {
    list-style-type: none;
    padding: 0;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

svg.icons {
  fill: $color-primary;
}

nav#navbar {
  background-color: $color-secondary;
  border-bottom: 8px solid $color-primary;
  a,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #fff;
  }
  .dropdown-menu {
    background-color: $color-dark-3;
    padding: 0;
    width: 250px;
    margin-top: 18px;
    border-radius: 0;
    position: absolute;
    left: -30px;
    > li > * {
      color: #fff;
      padding: 10px 10px;
      &:hover {
        background-color: $color-dark;
      }
    }
  }
  .icons {
    font-size: 20px;
    margin-right: 5px;
    margin-top: -5px;
  }
  #chatIcon.icons {
    fill: #000;
    margin: 0 0 0 7px;
  }
  .dropdown-toggle {
    &:after {
      display: none;
    }
  }
  a#chatBtn {
    background-color: $color-primary;
    box-shadow: none;
    border: 0;
    border-radius: 8px;
    padding: 12px 0;
    width: 120px;
    color: #000;
  }
  .navbar-toggler {
    background-color: #fff;
    border: none;
    font-size: 14px;
    text-align: center;
    padding: 0 0 5px 0;
    width: 55px;
    hr {
      width: 75%;
      margin: auto;
      display: block;
      margin-top: 6px;
      border-top: 1px solid #000;
      outline: none;
      &:nth-child(3) {
        margin-bottom: 8px;
      }
    }
  }
}

footer {
  color: #fff;
  background-color: $color-slate;
  overflow: hidden;
  > main {
    &:nth-child(1) {
      padding: 60px 0;
    }
    &:nth-child(2) {
      background-color: $color-dark-2;
      padding: 20px 0;
    }
    h3 {
      font-size: 20px;
    }
    ul {
      padding: 0;
      > li {
        line-height: 2rem;
        > a {
          color: #fff;
          text-decoration: none;
          font-size: 15px;
          font-weight: 400;
          &:hover {
            color: #fff;
          }
        }
      }
    }
  }
  .container-fluid h5 {
    font-size: 18px;
    font-weight: 400;
  }
}

.the_form {
  background-color: $color-light;
  border-radius: 8px;
  color: $color-secondary;
  a {
    color: $color-primary;
    &:hover {
      color: $color-primary-h;
    }
  }
  form {
    color: $color-secondary;
    input,
    .files {
      height: 50px;
      box-shadow: none;
      border: 1px solid $color-secondary;
      transition: $transition;
      font-size: 17px;
      background-color: transparent;
      border-radius: 6px;
      &:focus,
      &:hover {
        box-shadow: none;
        border-color: $color-primary;
        transition: $transition;
      }
    }
    button {
      width: 100%;
      background-color: $color-primary;
      font-weight: 600;
      border: 0;
      font-size: 18px;
      border-radius: 8px;
      padding: 10px 0;
      transition: $transition;
      color: #000;
      &:hover {
        background-color: $color-primary-h;
        transition: $transition;
      }
    }
    input.otp {
      border-radius: 8px;
      width: 55px;
      min-height: 75px;
      margin-right: 6px;
      outline: none;
      text-align: center;
      font-size: 45px;
      font-weight: 600;
    }
    .files {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0 10px;
      align-items: center;
      color: #000;
      svg {
        font-size: 40px;
        background-color: $color-secondary;
        fill: #fff;
        border-radius: 100px;
      }
    }
  }
}

#searchBar {
  padding-top: 80px;
  padding-bottom: 60px;
  input[type="search"] {
    box-shadow: none;
    border-radius: 50px;
    height: 55px;
    background-color: #fff;
    padding-left: 30px;
    padding-right: 78px;
    border: none;
    color: $color-secondary;
    &::placeholder {
      color: $color-secondary !important;
    }
  }
  form {
    position: relative;
    &:after {
      content: "";
      display: block;
      background-color: $color-primary;
      width: 2px;
      height: 100%;
      position: absolute;
      right: 74px;
    }
  }
  button.btn {
    box-shadow: none;
    font-size: 37px;
    background-color: transparent;
    padding: 0;
    line-height: 0;
    border-radius: 50px;
    position: absolute;
    right: 17px;
    top: 0;
    bottom: 0;
    color: $color-secondary;
    &:focus {
      box-shadow: none;
    }
  }
}

#theBanner {
  .carousel.slide {
    width: 425px;
    height: 250px;
    margin: auto;
    display: block;
    overflow: hidden;
    border-radius: 10px;
    svg {
      transform: scale(5);
    }
  }
  img {
    width: 425px;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
  }
  #thirdBanner {
    background: #00d91e;
    background: linear-gradient(90deg, #00d91e 0%, #00aa18 100%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding: 20px;
    a {
      background-color: yellow;
      width: 250px;
      text-align: center;
      color: #000;
      font-size: 20px;
      font-weight: 600;
      border-radius: 8px;
      padding: 15px 0;
      margin-top: 12px;
    }
    h3 {
      color: #fff;
      font-size: 35px;
      font-weight: 600;
    }
  }
}

.title_top_product {
  font-size: 30px;
  font-weight: 600;
}

.vendors {
  .card {
    border: none;
  }
  .profile.user_profile {
    border-radius: 0 0 10px 10px;
  }
  .profile {
    background-color: $color-secondary;
    color: #fff;
    border-radius: 0 0 0 10px;
    .vendor_logo {
      background-color: #fff;
      padding: 10px;
      border-radius: 50px;
      width: 75px;
    }
    .data * {
      margin: 0;
      padding: 0;
    }
    a.profile_link {
      color: $color-primary;
      font-size: 14px;
    }
    h4 {
      font-weight: 600;
      font-size: 20px;
    }
  }
  .verification {
    > div:nth-child(1) .verification_icons > svg {
      fill: #0072e4;
    }
    > div:nth-child(2) .verification_icons > svg {
      fill: #e400ff;
    }
    > div:nth-child(3) .verification_icons > svg {
      fill: #ff9000;
    }
    .verification_icons {
      h5 {
        font-size: 14px;
      }
      > svg {
        border: 1px solid #686a6c45;
        border-radius: 5px;
        font-size: 40px;
        padding: 6px;
      }
    }
  }
}

.profile_locks {
  > div:first-child ul > li > svg {
    fill: #fff;
    background-color: $color-primary;
  }
  ul {
    padding: 0;
    display: flex;
    align-content: center;
    align-items: center;
    > li {
      margin-right: 2px;

      > h2 {
        font-weight: 700;
        font-size: 35px;
        margin: 0;
      }
      > p {
        margin: 0;
        font-size: 13px;
      }
      > svg {
        font-size: 40px;
        background-color: #000;
        border-radius: 8px;
        padding: 6px;
      }
    }
  }
}

.vendor_col {
  background-color: $color-slight-gray;
  .vendor_contact {
    background-color: $color-dark-3;
    border-radius: 0 0 10px 0;
    a.vendor_chat {
      display: block;
      color: #fff;
      background-color: $color-primary-h;
      width: 95%;
      border-radius: 8px;
      padding: 23.5px 0;
      margin: auto;
      svg {
        font-size: 50px;
      }
      ul {
        margin: 0;
        padding: 0;
      }
      > ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
      h5 {
        margin: 0;
        font-size: 19px;
        font-weight: 600;
      }
    }
  }
}

.reputation {
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    width: 100%;
    margin: 10px auto;
    padding: 20px;
    border-radius: 10px;
    svg {
      margin-right: 10px;
      fill: #fff;
      font-size: 35px;
      background-color: #ffae00;
      padding: 7px;
      border-radius: 50px;
    }
    h4 {
      margin: 0;
      font-size: 25px;
      font-weight: 600;
      color: #000;
    }
    li {
      font-size: 20px;
      font-weight: 400;
    }
  }
}

.vendor_faq {
  overflow-y: hidden;
  .accordion-item {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  }
  #vendor_accords .accordion-button {
    background: transparent;
    color: #000;
    svg {
      font-size: 25px;
      margin-right: 5px;
    }
    &:focus {
      box-shadow: inset 0 -1px 0 #00000021;
    }
    &:after {
      content: "+";
      background: none;
      transform: none;
      text-align: center;
      font-size: 20px;
    }
    &:not(.collapsed)::after {
      content: "-";
      background: none;
      transform: none;
    }
  }
}

.profile,
.vendor_contact {
  height: 130px;
}

.top_products {
  ul {
    padding: 0;
  }
  .pricing p {
    margin: 0;
  }
  .price {
    display: flex;
    align-items: center;
    font-size: 33px;
    font-weight: 700;
    color: $color-dark-3;
    > svg {
      margin-right: 15px;
      @include unlocked();
    }
  }
  .product_desc {
    font-size: 13px;
    white-space: nowrap;
    width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  span.sale {
    background-color: $color-sale-orange;
    + a {
      max-width: 100%;
      overflow: hidden;
    }
  }
  .top_pro_shots {
    height: 250px;
    object-fit: cover;
    transition: 0.5s;
    &:hover {
      transform: scale(1.1);
      transition: 0.5s;
    }
  }
}
.p_series {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  li {
    background-color: #000;
    color: #fff;
    font-size: 23px;
    width: 31px;
    border-radius: 6px;
    text-align: center;
    font-weight: 500;
  }
}

.product_slides {
  .product_items_slides {
    height: 80px;
    > img {
      height: 80px;
      object-fit: contain;
    }
  }
  button.owl-prev {
    position: absolute;
    left: 0;
    top: 25px;
  }
  button.owl-next {
    position: absolute;
    right: 0;
    top: 25px;
  }
}

.btn.btn_show_more {
  background-color: $color-primary;
  border-radius: 0 0 8px 8px;
  color: #fff;
  padding: 8px 0;
  font-size: 17px;
  transition: 0.5s;
  width: 100%;
  box-shadow: none;
  &:hover {
    background-color: $color-primary-h;
    color: #fff;
    transition: 0.5s;
  }
  &:focus {
    box-shadow: none;
  }
  svg {
    color: $color-dark-3;
    font-size: 30px;
  }
}

.card_products {
  .price {
    font-size: 40px;
    font-weight: 500;
  }
  .product_details {
    padding-left: 35px;
  }
  .card {
    height: 93%;
  }
}
// --------------- MEDIA QURIES
@media only screen and (min-width: 991px) {
  nav#navbar {
    a.navbar-brand {
      display: none;
    }
    ul.navbar-nav {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
    }
  }
}

@media only screen and (max-width: 991px) {
  .search_icons {
    h6 {
      font-size: 12px;
      line-height: 1.2rem;
    }
  }
  #theBanner {
    .carousel.slide,
    img {
      width: 100%;
      height: 350px;
    }
    #thirdBanner {
      h3 {
        font-size: 22px;
        text-align: center;
      }
      a {
        font-size: 20px;
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  #searchBar {
    padding-top: 60px;
  }
  #theBanner {
    #thirdBanner {
      h3 {
        font-size: 20px;
      }
      a {
        font-size: 16px;
      }
    }
  }
  .top_products {
    .p_series {
      justify-content: space-evenly;
    }
    .price {
      justify-content: center;
    }
    .top_pro_shots {
      object-fit: contain;
    }
    .product_desc {
      white-space: normal;
      width: 100%;
      overflow: visible;
      text-overflow: unset;
      text-align: center;
    }
  }
}

@media only screen and (max-width: 600px) {
  footer > .container > .row {
    padding-left: 30px;
  }
}

@media only screen and (max-width: 500px) {
  .the_form form input.otp {
    width: 45px;
    min-height: 60px;
  }
  h1.title {
    font-size: 20px;
  }
  #theBanner {
    .carousel.slide,
    img {
      height: 100%;
    }
  }
  footer .container-fluid h5 {
    padding: 0 10px;
    font-size: 16px;
    line-height: 1.7rem;
  }
}
